# Copia este archivo con el nombre .env y reemplaza los valores (<USER> y <PASS>)
# URI de MongoDB Atlas (ejemplo):
MONGO_URI="mongodb+srv://<USER>:<PASS>@cluster0.3zfs7s5.mongodb.net/panificadora_db?retryWrites=true&w=majority"

# Puerto del servidor
PORT=3000

JWT_SECRET="panaderia_espiga_de_oro"