extends layout

block content
    h1 Bienvenido

    h2 Sistema de gestión - "La Espiga de Oro S.R.L"

    br

    h3 Menú
    ul
        li
            a(href='/productos') Ver Productos
        li
            a(href='/pedidos') Ver Pedidos
