doctype html 
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Parabellum Devs - Productos
        link(rel='stylesheet', href='/styles.css')
    body
        header
            h1 Parabellum Devs - La Espiga de Oro S.R.L
            nav
            a(href='/') Inicio
            |  |  
            a(href='/productos') Productos
            |  |  
            a(href='/productos/nuevo') Nuevo Producto
    
        
            hr

            block content

            hr

            footer 
                p &copy; 2024 Parabellum Devs - Todos los derechos reservados.
                