extends layout

block content
    h2 Nuevo Pedido

    form(method='POST', action='/pedidos')
        label ID:
        input(type='number', name='id', required)

        br
        br

        label Fecha:
        input(type='date', name='fecha', required)

        br
        br

        h3 Productos:
        
        each producto in productos
            label #{producto.nombre}:
            input(type='number', name='cantidad_' + producto.id, min='0', value='0')
            br
            br

        br
        br

        button(type='submit') Crear Pedido
